/* Global */
:root {
     /* color */

     /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold:600;
    --weight-regular: 400;

    /* size */
}

/* Universal tags */
* {
    box-sizing: border-box;
}

/* typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    margin: 16px 0;
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    margin: 4px 0;
}